@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --AppBoxShadow: 1px 1px 5px rgba(0, 0, 0, 0.13), -1px -1px 5px rgba(0, 0, 0, 0.13);
  --boxShadow: 1px 1px 3px rgba(0, 0, 0, 0.315);
  --boxShadowInset: inset 1px 1px 3px rgba(0, 0, 0, 0.315);
  --rootColor: #4A353B;
  --mainColor: #A0A4B8;
  --btnsColor: #D8DDEF;
  --btnColorInset: #BCC1D4;
}

html {
  height: 100vh;
  display: flex;
  justify-content: center;
  
  background-color: var(--rootColor);
}

body {
  margin: auto;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--rootColor);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--AppBoxShadow);
  padding: 2rem;
  border-radius: 10px;
  min-width: 250px;
  background-color: var(--mainColor);
}

.title {
  margin: 0;
}

.setCount{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.8rem;
  font-weight: 600;
  
}

.count{
  font-size: 3rem;
  margin: 2.5rem 0;
  width: 250px;
  padding: 1rem 1rem;
  box-shadow: var(--boxShadowInset);
  border-radius: 20px;
  background-color: var(--btnColorInset);
  font-weight: 500;
  word-break: break-all;
}

.btnUpdate{
  outline: none;
  border: none;
  background-color: var(--btnsColor);
  box-shadow: var(--boxShadow);
  height: 2rem;
  padding: 0.5rem 0;
  border-radius: 50px;
  font-weight: 600;
}

.btnUpdate:active {
  background-color: var(--btnColorInset);
  box-shadow: var(--boxShadowInset);
  font-size: 0.8rem;
}

.manualCountContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.manualCount{
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  font-size: 1.5rem;
  background-color: var(--btnsColor);
  box-shadow: var(--boxShadow);

}

.manualCount:active {
  background-color: var(--btnColorInset);
  box-shadow: var(--boxShadowInset);
  font-size: 1.43rem;

}

.reset {
  font-size: 1rem;
  font-weight: 700;
}

.reset:active{
  font-size: 0.95rem;
}

input[type=tel] {
  width: 100%;
  border-radius: 50px;
  outline: none;
  margin-top: 0.5rem;
}

input{
  padding: 0.5rem 0;
  text-align: center;
  border: none;
  background-color: var(--btnColorInset);
  box-shadow: var(--boxShadowInset);
}

.autoCountContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.autoCount {
  outline: none;
  border: none;
  width: 90px;
  height: 90px;
  font-weight: 600;
  border-radius: 50%;
  background-color: var(--btnsColor);
  box-shadow: var(--boxShadow);
}

.autoCount:active {
  background-color: var(--btnColorInset);
  box-shadow: var(--boxShadowInset);
  font-size: 0.8rem;
}
